<!doctype html>
<html lang="<%=config.language%>" dir="ltr">
<%- partial('_partial/head') %>
<body>
    <%- body %>
</body>
<% if (page.title === 'Publications') { %>
    <%- css('styles/publist.min.css') %>
<% } %>
</html>